<h2>Scrim Cancelada</h2>

<p>Sua scrim foi cancelada.</p>

<table>
  <tr>
    <td><strong>Data/Hora:</strong></td>
    <td><%= @formatted_time %></td>
  </tr>
  <tr>
    <td><strong>Time:</strong></td>
    <td><%= @team.name %></td>
  </tr>
  <tr>
    <td><strong>Motivo:</strong></td>
    <td><%= @reason %></td>
  </tr>
</table>
